In [57]:
import pandas as pd
import numpy as np

df = pd.read_csv('D:/UFMG - DOUTORADO/Dados SIM - Natalidade/venvsim39/SINASC_2020.csv', sep=';', encoding='latin-1',engine='python', on_bad_lines='skip')

df = df[['CODMUNNASC', 'IDADEMAE','PARTO','PESO','GESTACAO', 'DTNASC']]

df = df[df['DTNASC'].notna()]
df = df[df['CODMUNNASC'].notna()]
#df['DTNASC'] = df['DTNASC'].astype(np.int64)

In [58]:
#df[['IDADEMAE', 'PARTO','PESO', 'GESTACAO']] = df[['IDADEMAE', 'PARTO','PESO', 'GESTACAO']]#.astype('Int64')
df = df.sort_values(['CODMUNNASC'], ascending=[True]) #ordenando em ordem crescent os municipios
print('Linhas nesse dataframe:', len(df.index))
print(df[["IDADEMAE"]].mean())
print(df.describe())
df['CODMUNNASC'] = df['CODMUNNASC'].astype(str) #convertendo a coluna para string
df['CODMUNNASC']=np.where([i.startswith("11") for i in df['CODMUNNASC']],'RO',df['CODMUNNASC']) #substituindo o municipio por regiao
df['CODMUNNASC']=np.where([i.startswith("12") for i in df['CODMUNNASC']],'AC',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("13") for i in df['CODMUNNASC']],'AM',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("14") for i in df['CODMUNNASC']],'RR',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("15") for i in df['CODMUNNASC']],'PA',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("16") for i in df['CODMUNNASC']],'AP',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("17") for i in df['CODMUNNASC']],'TO',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("21") for i in df['CODMUNNASC']],'MA',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("22") for i in df['CODMUNNASC']],'PI',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("23") for i in df['CODMUNNASC']],'CE',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("24") for i in df['CODMUNNASC']],'RN',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("25") for i in df['CODMUNNASC']],'PB',df['CODMUNNASC']) 
df['CODMUNNASC']=np.where([i.startswith("26") for i in df['CODMUNNASC']],'PE',df['CODMUNNASC']) 
df['CODMUNNASC']=np.where([i.startswith("27") for i in df['CODMUNNASC']],'AL',df['CODMUNNASC']) 
df['CODMUNNASC']=np.where([i.startswith("28") for i in df['CODMUNNASC']],'SE',df['CODMUNNASC']) 
df['CODMUNNASC']=np.where([i.startswith("29") for i in df['CODMUNNASC']],'BA',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("31") for i in df['CODMUNNASC']],'MG',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("32") for i in df['CODMUNNASC']],'ES',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("33") for i in df['CODMUNNASC']],'RJ',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("35") for i in df['CODMUNNASC']],'SP',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("41") for i in df['CODMUNNASC']],'PR',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("42") for i in df['CODMUNNASC']],'SC',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("43") for i in df['CODMUNNASC']],'RS',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("50") for i in df['CODMUNNASC']],'MS',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("51") for i in df['CODMUNNASC']],'MT',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("52") for i in df['CODMUNNASC']],'GO',df['CODMUNNASC'])
df['CODMUNNASC']=np.where([i.startswith("53") for i in df['CODMUNNASC']],'DF',df['CODMUNNASC'])
df.tail()

Linhas nesse dataframe: 2730145
IDADEMAE    27.216993
dtype: float64
         CODMUNNASC      IDADEMAE         PARTO          PESO      GESTACAO  \
count  2.730145e+06  2.730112e+06  2.727982e+06  2.729508e+06  2.695466e+06
mean   3.191264e+05  2.721699e+01  1.572861e+00  3.194066e+03  4.885336e+00
std    9.955500e+04  6.766235e+00  4.958856e-01  5.658231e+02  4.527063e-01
min    1.100010e+05  1.000000e+01  1.000000e+00  1.000000e+02  1.000000e+00
25%    2.601200e+05  2.200000e+01  1.000000e+00  2.910000e+03  5.000000e+00
50%    3.205300e+05  2.700000e+01  2.000000e+00  3.230000e+03  5.000000e+00
75%    3.550300e+05  3.200000e+01  2.000000e+00  3.540000e+03  5.000000e+00
max    5.300100e+05  9.900000e+01  9.000000e+00  7.000000e+03  9.000000e+00

             DTNASC
count  2.730145e+06
mean   1.576183e+07
std    8.786430e+06
min    1.012020e+06
25%    8.072020e+06
50%    1.603202e+07
75%    2.309202e+07
max    3.112202e+07

       CODMUNNASC  IDADEMAE  PARTO    PESO  GESTACAO    DTNASC
493300         DF      28.0    1.0  3790.0       5.0   6102020
493299         DF      16.0    1.0  2585.0       5.0   6102020
493298         DF      27.0    2.0  3980.0       5.0   5102020
493322         DF      22.0    2.0  2380.0       5.0  19092020
885932         DF      38.0    1.0  3655.0       5.0  24042020

In [59]:
file_name_1 = 'SINASC_2020.csv'
df['CODMUNNASC'].value_counts().to_csv("obitos_x_estado"+file_name_1+".csv")

  
# saving the excel
df.to_csv(file_name_1+".csv")